@import '../../vars.scss';

.mzw-logo {
  display: flex;
  align-items: flex-start;
  cursor: default;
  user-select: none;
}

.mzw-logo__image {
  width: 180px;
  height: auto;
}

.mzw-logo--large .mzw-logo__image {
  width: 265px;
}

@media (max-width: 800px) {
  .mzw-logo {
    overflow: hidden;
    width: 265px;
  }
}
