@import '../../vars.scss';

.monzo-accounts {
  display: flex;
  flex-direction: column;
}

.mzw-accounts__header-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: $dark-blue;
}

.mzw-accounts__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include container;
}

.mzw-accounts__transactions {
  display: flex;
  height: 80vh;
  width: 100%;
  @include container;
}

@media (max-width: 800px) {
  .mzw-accounts__transactions {
    flex-direction: column;
  }

  .mzw-accounts__transactions__list,
  .mzw-accounts__transactions__detail {
    width: 100%;
  }

  .monzo-accounts h1 {
    font-size: 1.5em;
  }

}
